
<div class="container">
  
<div class="row mt-5">
  
    <div class="col-md-6 m-auto">
      <h3>Welcome To YogSathi lets start your Journey from here!!!!</h3>
      <div class="card card-body text-center">
        <h1><i><img id='logo' src = '/media/png/010-meditation.png' height="100" width="100" /></i></h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-danger btn-block mb-2"
          >Register</a
        >
        <a href="/users/login" class="btn btn-success btn-block">Login</a>
        
      </div>
    </div>
  </div>
  </div>